<div>
  <mat-card fxLayout="column" class="card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>payments</mat-icon>
      </div>
      <mat-card-title>
      </mat-card-title>
      <mat-card-subtitle>
        Currency Exchange Converter
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Welcome to the Currency Exchange Converter. <br /> Convert you currency using our converter calculator.
      </p>
      <p>
        Our Exchange rates are updated hourly to give you the best rates on the market.
      </p>
      <p>
        Base Currency: {{exchangeRate?.base}}
      </p>
      <p>
        Last updated: {{baseTime}}
      </p>
    </mat-card-content>

  </mat-card>
</div>