<div>
  <mat-card fxLayout="column" class="card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>payments</mat-icon>
      </div>
      <mat-card-title>
      </mat-card-title>
      <mat-card-subtitle>
        Currency Exchange Converter
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form #currencyConverter="ngForm">
        <div fxLayout="row" fxLayoutGap="100px">
          <div fxLayoutAlign="start center">
            <mat-form-field>
              <mat-label>From</mat-label>
              <mat-select [(ngModel)]="from" name="from">
                <mat-option *ngFor="let c of countries" [value]="c.value">{{c.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="start center">
            <mat-form-field>
              <mat-label>Amount</mat-label>
              <input type="number" name="amount" [(ngModel)]="amount" matInput>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="end center">
            <mat-form-field>
              <mat-label>To</mat-label>
              <mat-select [(ngModel)]="to" name="to">
                <mat-option *ngFor="let c of countries" [value]="c.value">{{c.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="conversion">
          {{amount}} {{from }} =
          <div>
            Exchange rate: {{rate}}
          </div>
          <div class="conversion">
            {{conversion}}
          </div>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <mat-divider></mat-divider>
      <button type="submit" mat-button (click)="onSubmit(currencyConverter)">Convert</button>
    </mat-card-actions>
  </mat-card>
</div>